@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background: repeating-linear-gradient(
    #8d6e63,
    #8d6e63 1px,
    #616161 3px,
    #616161 5px
  );
}

html {
  overflow-x: hidden;
  background-color: #616161;
  overscroll-behavior-y: none;
}

.main-body {
  background: repeating-linear-gradient(
    #8d6e63,
    #8d6e63 1px,
    #616161 3px,
    #616161 5px
  );
}
