/*
   scanning animation adapted from the following code:
   https://stackoverflow.com/questions/66562406/how-can-i-implement-a-scanning-bar-animation 
*/

.scanner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background: rgba(50, 205, 50, 1);
  box-shadow: 0 0 70px 20px rgba(50, 205, 50, 0.3);
  clip-path: inset(0);
  animation: x 7s linear infinite, y 7s infinite;
}

@keyframes x {
  from {
    top: 0px;
  }
  to {
    top: 100vh;
  }
}

/* 
  generate the illusion of an animation delay by having it
  continue off the screen for a little bit
*/
@keyframes y {
  10%,
  100% {
    clip-path: inset(-100px 0 0 0);
  }
  from {
    top: 0px;
    z-index: 10;
  }
  to {
    top: 200vh;
    z-index: 10;
  }
}
